apiVersion: v1
kind: Secret
metadata:
  name: keycloak-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "https://you-keycloak-instance.com",
      "tls_insecure_skip_verify": true,
      "client_id": "terrajet",
      "client_secret": "(secret)"
    }
